# Diretórios e arquivos do IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Excluir configurações de ambiente de execução
out/
target/
bin/

# Arquivos de compilação
*.class

# Logs
*.log

# Arquivos de configuração e caches
.DS_Store
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries
.idea/shelf
.idea/vcs.xml
.idea/compiler.xml

# Configurações de execução/debug
.idea/runConfigurations/

# Cache de dados de projetos
.idea/assetWizardSettings.xml
.idea/gradle.xml
.idea/libraries/
.idea/modules.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/

# IntelliJ IDEA plugin specific files
.idea/jsLibraryMappings.xml
.idea/jarRepositories.xml
.idea/artifacts/
.idea/codestyles/
.idea/scopes/
.idea/vcs.xml

# Maven
mvnw
mvnw.cmd
